@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Bold ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"), url("fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Heavy ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy ☞"), url("fonts/Gilroy-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Light ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light ☞"), url("fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Medium ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium ☞"), url("fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Regular ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular ☞"), url("fonts/Gilroy-Regular.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

body {
  font-family: "Gilroy", sans-serif;
}

.header {
  padding-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  position: relative;
  z-index: 2;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  gap: 40px;
}
.header__menu-link {
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}
.header__menu-link:hover {
  font-size: 16px;
  font-weight: 700;
  transform: translateY(-1px);
}
.header__links {
  display: flex;
  gap: 20px;
}
.header__line {
  margin-top: 30px;
  border: 1px solid #fff;
  width: 100%;
  height: 0;
  opacity: 0.3;
}

.hero {
  margin-top: -130px;
  background-image: url("image/main/hero/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  width: 100%;
}
.hero__content {
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  padding-top: 305px;
}
.hero__youtube {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.hero__youtube-spoiler {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-left: 30px;
}
.hero__youtube .circle__image {
  height: 80px;
  width: 80px;
  transition: transform 0.3s ease;
}
.hero__youtube .circle__image:hover {
  transform: scale(1.1);
}
.hero__blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 202px;
}
.hero__block {
  position: relative;
  width: 315px;
  height: 151px;
  background: #8D86C9;
}
.hero__block-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-top: 35px;
  margin-left: 35px;
}
.hero__block-service {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 24px;
  margin-top: 17px;
  margin-left: 35px;
}
.hero__block-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 72px;
  margin-right: 32px;
  transition: transform 0.3s ease;
}
.hero__block-icon:hover {
  transform: scale(1.2);
}

.advantages {
  margin-top: 150px;
}
.advantages__content {
  position: relative;
  display: flex;
  height: 500px;
}
.advantages__blocks {
  display: flex;
  padding-top: 25px;
  padding-left: 19px;
  gap: 64px;
}
.advantages__link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.advantages__block {
  position: relative;
  transition: all 0.3s ease;
  outline: 1px solid #F7ECE1;
  outline-offset: 20px;
}
.advantages__block:hover {
  transform: translateY(-6px);
}
.advantages__block img {
  height: 450px;
  object-fit: cover;
  display: block;
  pointer-events: none;
}
.advantages__block-title {
  position: absolute;
  width: 100%;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  font-size: 27px;
  padding-top: 280px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.sport {
  margin-top: 150px;
}
.sport__content {
  display: flex;
  height: 654px;
}
.sport .sport-image {
  position: absolute;
  width: 526px;
  height: 514px;
  margin-top: 70px;
  margin-left: 110px;
  z-index: 1;
}
.sport__block {
  position: relative;
  width: 636px;
  height: 654px;
  margin-left: 550px;
  padding-left: 146px;
  background: #F7ECE1;
}
.sport__block-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
  margin-top: 70px;
}
.sport__block-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  color: #333;
  margin-top: 25px;
  color: #333;
}
.sport__block-second-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
  font-size: 21px;
  margin-top: 35px;
}
.sport__block-list {
  list-style: none;
}
.sport__block-list-item:first-child {
  margin-top: 25px;
}
.sport__block-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  color: #333;
  color: #333;
  position: relative;
  padding-left: 23px;
  margin-bottom: 15px;
}
.sport__block-list-item::before {
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 8px;
  height: 8px;
  background: #8D86C9;
}

.team {
  margin-top: 150px;
}
.team__content {
  height: 523px;
}
.team__upper {
  display: flex;
  justify-content: space-between;
}
.team__upper-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
}
.team__upper-button {
  padding-bottom: 5px;
  width: 45px;
  height: 45px;
  font-size: 25px;
  background: #8D86C9;
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease;
}
.team__upper-button:hover {
  transform: scale(1.08);
}
.team__upper-button:first-child {
  margin-right: 15px;
}
.team__blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.team__block {
  border: 1px solid #F7ECE1;
  width: 196px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}
.team__block:hover {
  transform: translateY(-6px);
}
.team__block-img {
  width: 166px;
  height: 240px;
}
.team__block-name {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 21px;
  margin-top: 25px;
}
.team__block-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  color: #333;
  text-align: center;
  margin-top: 15px;
  width: 196px;
  color: #333;
}

.services {
  margin-top: 150px;
  margin-bottom: 150px;
}
.services__content {
  height: 455px;
  position: relative;
}
.services__upper {
  display: flex;
  align-items: center;
}
.services__upper-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
  margin-right: 316px;
}
.services__upper-second-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
}
.services__upper-buttons {
  margin-left: auto;
}
.services__upper-button {
  padding-bottom: 5px;
  width: 45px;
  height: 45px;
  font-size: 25px;
  background: #8D86C9;
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease;
}
.services__upper-button:hover {
  transform: scale(1.08);
}
.services__upper-button:first-child {
  margin-right: 15px;
}
.services__down-link {
  display: flex;
  justify-content: space-between;
  background: #8D86C9;
  align-items: center;
  padding: 15px 30px;
  width: 526px;
  height: 60px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.services__down-link:first-child {
  margin-top: 73px;
}
.services__down-link:hover {
  transform: scale(1.02);
}
.services__down-button {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
  font-size: 36px;
  color: #333;
  font-size: 21px;
  color: #fff;
  background: #8D86C9;
  border: none;
  cursor: pointer;
}
.services__down-arrow {
  font-size: 30px;
  color: #fff;
}
.services__down-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 155px;
  margin-left: 659px;
  width: 586px;
  height: 270px;
  outline: 1px solid #F7ECE1;
  outline-offset: 25px;
}

.footer {
  background-color: #F7ECE1;
  height: 96px;
  padding-top: 30px;
}
.footer__content {
  display: flex;
  align-items: center;
}
.footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  color: #333;
  color: #333;
  font-weight: 500;
  opacity: 0.3;
  margin-right: 104px;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 109px;
  position: relative;
}
.footer__social-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  color: #333;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
}
.footer__social-link:hover {
  font-weight: 700;
  transform: translateY(-1px);
}
.footer__social-links {
  display: flex;
  align-items: center;
  gap: 19px;
}
.footer__social-img {
  width: 36px;
  height: 36px;
}

/*# sourceMappingURL=main.css.map */
